<footer class="animated fadeIn" id="footer">
    <div class="container text-center">
        <p class="copyright"><span>Design and code for the world filled with love!</span></p>
        <span>Made by {{@blog.title}}</span>
    </div>
</footer>